.hr {
  border-color: #e0bf9f;
  margin-top: 4%;
}

.article {
  padding: 1% 20%;
}

@media (min-width: 0px) and (max-width: 319px) {
  .article {
    padding: 2% 0 0 6%;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .article {
    padding: 2% 8%;
  }
}
