node_modules

# Emacs save files
*~

# Firebase and other info
content/
.firebase/

# Compilation artifacts
public/bundle.js
public/bundle.js.map

# Resume
public/assets/Eleni-Arvanitis-Resume.pdf

# Hot module json files
hot/