node_modules

# Emacs save files
*~

# Firebase and other info
content/

# Compilation artifacts
public/bundle.js
public/bundle.js.map
public/serviceWorker.js

# Resume
public/assets/Eleni-Arvanitis-Resume.pdf

# Hot module json files
hot/