body {
  background-color: #000;
  padding-bottom: 5%;
}
body,
a,
h2,
h3,
p,
button,
span,
input,
textarea {
  color: #f8f8ff;
  font-family:
    Open Sans,
    sans-serif;
}
a {
  text-decoration: none;
  position: relative;
}
:focus {
  outline: none;
}
.grecaptcha-badge {
  opacity: 0;
  left: 0;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes spin {
  12.5% {
    stroke-dasharray: 33.9887px, 242.777px;
    stroke-dashoffset: -26.7053px;
  }
  43.75% {
    stroke-dasharray: 84.9718px, 242.777px;
    stroke-dashoffset: -84.9718px;
  }
  to {
    stroke-dasharray: 2.42777px, 242.777px;
    stroke-dashoffset: -240.349px;
  }
}
.footer_V8GT5Q {
  position: fixed;
  display: flex;
  z-index: 3;
  background-color: #000;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 2%;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon_V8GT5Q {
  padding-left: 12px;
}
.icon_V8GT5Q:hover {
  color: var(--hover-color);
}
.menuList_rU3Mrw {
  list-style: none;
  text-align: center;
  position: fixed;
  z-index: 1;
  background-color: #000;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 4rem);
  margin: 0;
  padding: 0;
  top: 8.5%;
  left: 0;
}
.navLink_rU3Mrw {
  text-decoration: none;
  position: relative;
  color: #f8f8ff;
}
.navLink_rU3Mrw:before {
  content: '';
  position: absolute;
  visibility: hidden;
  background-color: #e0bf9f;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}
.navLink_rU3Mrw:hover:before {
  color: #e0bf9f;
  visibility: visible;
  transform: scaleX(1);
}
.navLinkActive_rU3Mrw {
  color: inherit;
  border-bottom: 2px solid #e0bf9f;
}
.nav_1zqMNQ {
  position: sticky;
  color: #f8f8ff;
  display: flex;
  vertical-align: text-top;
  z-index: 3;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  padding: 1rem 0;
  font-size: 23px;
  font-weight: 800;
  top: 0;
}
.logo_1zqMNQ {
  display: flex;
  align-items: center;
  min-width: 15%;
  max-height: 30px;
}
.error_mtNyEQ {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.btn_XYRQRw {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  color: #f8f8ff;
  background-color: #0000;
  border: 2px solid #e0bf9f;
  margin: 10px auto 10px 0;
  padding: 10px 25px;
  transition: all 0.4s;
  font-size: large;
}
.btn_XYRQRw:after {
  position: absolute;
  content: '';
  z-index: -1;
  background: #e0bf9f;
  width: 100%;
  height: 120%;
  transition: all 0.4s;
  bottom: 0;
  left: -110%;
  transform: skew(20deg);
}
.btn_XYRQRw:hover {
  cursor: pointer;
  color: #000000e6;
}
.btn_XYRQRw:hover:after {
  width: 150%;
  left: -10%;
}
.btn_XYRQRw:focus {
  outline: none;
}
@media (min-width: 0) and (max-width: 767px) {
  .btn_XYRQRw {
    font-size: medium;
  }
}
.btnCenter_XYRQRw {
  display: flex;
  margin: 50px auto 10px;
}
.btnCenter_XYRQRw:hover a {
  color: #000000e6;
}
.btnProject_XYRQRw {
  margin: 4% 1% 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .btnProject_XYRQRw {
    margin: 7% 1% 0;
  }
}
.btnSubmit_XYRQRw {
  margin: 0 auto 8%;
}
.navLink_XYRQRw {
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper_pCy-oQ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.animatedPath_pCy-oQ {
  stroke-dasharray: 2.42777px, 242.777px;
  stroke-dashoffset: 0;
  animation: spin 1.6s linear infinite;
}
.me_HG1gDw {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  font-size: 18pt;
}
@media (min-width: 0) and (max-width: 320px) {
  .me_HG1gDw {
    font-size: 12pt;
  }
}
.carouselWrapper_HG1gDw {
  position: relative;
  display: inline-flex;
}
.entering_HG1gDw {
  display: inline-flex;
  white-space: nowrap;
  color: #e0bf9f;
  animation: slideIn 0.3s ease forwards;
  font-weight: 600;
}
.leaving_HG1gDw {
  display: inline-flex;
  white-space: nowrap;
  color: #e0bf9f;
  animation: slideOut 0.3s ease forwards;
  position: absolute;
  font-weight: 600;
}
.description_HG1gDw {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14pt;
  font-weight: 300;
}
@media (min-width: 0) and (max-width: 319px) {
  .description_HG1gDw {
    font-size: 12pt;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .description_HG1gDw {
    font-size: 13pt;
  }
}
.about_txJ99A {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  margin: 0 auto;
}
.hr_1W9IcQ {
  border-color: #e0bf9f;
  margin-top: 4%;
}
.article_1W9IcQ {
  padding: 1% 20%;
}
@media (min-width: 0) and (max-width: 319px) {
  .article_1W9IcQ {
    padding: 2% 0 0 6%;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .article_1W9IcQ {
    padding: 2% 8%;
  }
}
.form_MZrv0Q {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 768px) {
  .form_MZrv0Q {
    width: 90%;
  }
}
.asterisk_MZrv0Q:before {
  color: red;
  content: '* ';
}
.inputBase_MZrv0Q {
  text-align: center;
  background: 0 0;
  border: #0000;
  border-bottom: thin solid gray;
  width: 100%;
  margin: 0 auto 10%;
  padding: 1% 0;
  font-size: 14pt;
}
.inputBase_MZrv0Q:focus {
  border-bottom: thin solid #e0bf9f;
  transition: all 0.25s ease-in-out;
}
.textarea_MZrv0Q {
  resize: none;
  max-height: 300px;
}
.contact_Vuz2uA {
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.disclaimer_Vuz2uA {
  font-size: 5pt;
  font-style: italic;
}
.uses_MyfTcg {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1%;
}
.h3_MyfTcg {
  list-style-type: none;
  font-style: italic;
}
.routerLink_MyfTcg {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #e0bf9f;
  padding-right: 10px;
}
.routerLink_MyfTcg:hover .icon_MyfTcg {
  opacity: 1;
  visibility: visible;
}
.icon_MyfTcg {
  color: #f8f8ff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  margin-left: 8px;
  transition:
    opacity 1s,
    visibility 1s;
  font-size: 1rem;
}
.iconVisible_MyfTcg {
  color: #ace1af;
  opacity: 1;
  visibility: visible;
}
.icon_MyfTcg:hover {
  opacity: 0.5;
}
.paragraph_MyfTcg {
  margin-top: 0;
  font-style: italic;
}
.link_MyfTcg {
  font-weight: 700;
}
.link_MyfTcg:hover {
  color: #e0bf9f;
}
.callToActionText_MyfTcg {
  color: #f8f8ff;
  font-size: 15px;
  font-style: italic;
  line-height: 1;
}
.callToActionAnchor_MyfTcg {
  color: #e0bf9f;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
}
.callToActionAnchor_MyfTcg:focus {
  outline: none;
}
.projectStyle_2YHOWg {
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  font-size: 28pt;
  font-weight: 800;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .projectStyle_2YHOWg {
    padding: 6% 0;
    font-size: 20pt;
  }
}
.lines_2YHOWg {
  display: inline-block;
  position: relative;
  line-height: 0.5;
}
.lines_2YHOWg:hover {
  color: #e0bf9f;
}
.lines_2YHOWg:before,
.lines_2YHOWg:after {
  content: '';
  position: absolute;
  border-top: 1px solid #f8f8ff;
  border-bottom: 1px solid #f8f8ff;
  width: 50%;
  height: 9px;
  top: 1px;
}
.lines_2YHOWg:before {
  margin-right: 15px;
  padding-top: 5px;
  right: 100%;
}
.lines_2YHOWg:after {
  margin-left: 15px;
  padding-top: 5px;
  left: 100%;
}
@media (min-width: 0) and (max-width: 480px) {
  .lines_2YHOWg {
    font-size: 20pt;
    line-height: normal;
  }
  .lines_2YHOWg:before,
  .lines_2YHOWg:after {
    border: none;
    left: 0;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .lines_2YHOWg:before,
  .lines_2YHOWg:after {
    width: 22%;
  }
}
.detail_2YHOWg {
  cursor: default;
  flex-flow: column wrap;
  padding: 5px 10%;
  font-size: 15px;
  font-weight: 300;
}
.role_2YHOWg {
  color: #e0bf9f;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
}
.description_2YHOWg {
  padding: 0 3%;
}
.tech_2YHOWg {
  display: inline-block;
  border: 1px solid #e0bf9f;
  border-radius: 8px;
  margin-right: 10px;
  padding: 7px 18px;
  font-size: 12px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .tech_2YHOWg {
    margin: 1% 2%;
    padding: 4% 7%;
  }
}
