.nav {
  position: sticky;
  top: 0;
  font-size: 23px;
  font-weight: 800;
  color: ghostwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  padding: 1rem 0;
  vertical-align: text-top;
  background-color: rgba(0, 0, 0, 1);
  z-index: 3;
}

.logo {
  display: flex;
  align-items: center;
  min-width: 15%;
  max-height: 30px;
}
