/*body {*/
    /*background-image: url("/assets/img/");*/
    /*height: 10%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7% 3%;
    margin-right: 60%;
}

.about-header {
    font-size: 35pt;
    font-weight: 800;
    color: ghostwhite;
    margin-bottom: 4%;
}

.about-text {
    font-weight: 300;
    font-size: 14pt;
    color: ghostwhite;
}

@media (min-width: 320px) and (max-width: 480px) {
    .about {
        margin: 0 auto;
    }

    .about-header {
        font-size: 30pt;
    }
}