.me {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 5% 7% 3%;
  margin-left: 55%;
  font-size: 25px;
  flex-direction: column;
}

.carousel-items {
  font-weight: 600;
  color: #e0bf9f;
}

.home-description {
  font-size: 15pt;
  font-weight: 300;
  margin: 10% 0 0 0;
  padding: 0 0 10% 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .me {
    margin: 0 auto;
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .me {
    margin: 0 auto;
    font-size: 30px;
  }
}
