body {
  background-color: rgba(0, 0, 0, 1);
}

body,
a,
h2,
h3,
p,
button,
span,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: ghostwhite;
}

body {
  padding-bottom: 5%;
}

*:focus {
  outline: none;
}

.grecaptcha-badge {
  opacity: 0;
}


@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: none;
  }
}
