body {
    background-color: rgba(0, 0, 0, 0.9);
}

body, h2, h3, p, button, span, input, textarea {
    font-family: 'Open Sans', sans-serif;
    color: ghostwhite;
}

*:focus {
    outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-image: none;
    }
}